.debug{
	border:1px solid #f00;
}
p{
	margin:0 !important;
}
.no-padding-l{
	padding-left:0 !important;
}
.expert .expert-item{
	display:block;
	height:110px;
	margin-right: 0px;
    margin-left: 0px;
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
}
.expert .expert-item .headimgurl{
    padding-right: 0;
    padding-left: 0;
}
.expert .expert-item .headimgurl img{
	width:100%;
	max-height:100px;
}
.expert .expert-item .expert-item-desc{
	height:100%;
}
.expert-item .expert-item-desc .row-2{
	position:absolute;
	left:10px;
	bottom:10px;
	width:100%;
}
.expert-item .expert-item-desc .row-2 .tags{
	width:35%;float:left;
}
/*专家详情*/
.expert-top{
	padding:8px;
	border:1px solid #ccc;
	width:100%;
	overflow: hidden;
}
.expert-top .expert-base{
	margin-right: 0px;
    margin-left: 0px;
}
.expert-top .expert-base .headimgurl{
    padding-right: 0;
    padding-left: 0;
}
.expert-top .expert-base .headimgurl img{
	width:160px;
	float:left;
	margin-right:5px;
	max-height:100px;
	border:1px solid #ccc;
}
.expert-top .expert-info{
	width:100%;
}
.expert-top .expert-info p{
	word-wrap:break-word;
	word-break: break-all;
	white-space: pre-wrap;
}
.expert .expert-bottom{
	margin-top:15px;
	margin-bottom:6px;
}

.block-head{
	margin:15px 0 20px;
	font-size:15px;
}

.praise-btn{
	cursor:pointer;
}
